body {
    background-color: #731AB7;
    font-family: 'Lato', sans-serif;
    color: #F7F0F0;
}

.container {
    background-color:#5f248b;
    padding-right: 80px;
    padding-left: 80px;
}

@media (max-width: 767.98px) { 

    .container {
        text-align: center;
    }

}

.content {
    min-height: 100vh;
    height: 100%;
}

h2,h3 {
    font-family: 'Lobster', cursive;
}

h2 {
    font-size: 3rem;
}


input {
    background-color:#5f248b;
    border: 3px solid #F7F7F7;
    height: 50px;
    width: 85%;
    color: #F7F7F7;
    /* min-width: 120px; RECOLOCAR ESPECIFICO*/
}

label {
    margin-top: 7px;
}

#acompanhamentos {
    background-color:#731AB7;
    border: 3px solid #F7F7F7;
    width: 20px;
}

.custom-checkbox {
    margin-left: calc(25% + 15px);
}

@media (max-width: 991.98px) { 

    .custom-checkbox {
        margin-left: 15px;
    }
    
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    background-color: #5f248b;
    border: 1.8px solid;
}

.custom-checkbox .custom-control-label::after {
    border-radius: 0;
    background-color: #5f248b;
    border: 1.8px solid;
}

#botaoCalcular {
    background: #63DC3E 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #F8F0F029;
    border-radius: 5px;
    opacity: 1;
    width: 200px;
    height: 50px;
    color: #731AB7;
    font-size: 1.3rem;
}

#resultado {
    background: rgb(146, 114, 170) 0% 0% no-repeat padding-box;
    border: 1px solid #e98be9;
    border-radius: 5px;
    padding:10px;
    display: none;
    margin: 0;
}